/* geral */

html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

#mapa {
	width: 970px;
	height: 970px;
}

.ficha {
	border: 2px solid #eee;
}

.selecionada {
	font-weight: bold;
}


/* grafico de barras */

.grafico {
    list-style-type: none;
}

.grafico ol {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.grafico ol li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 8px 0;
    width: 8px;
    text-align: center;
}

.grafico ol li .barra {
	height: 20px;
    background: #ccc;
}

.grafico ol li + li .barra {
    border-left: 1px solid #fff;
}

.grafico ol li span {
    visibility: hidden;
    z-index: 1;
}

.grafico ol li:hover span {
    visibility: visible;
}

.grafico ol li:hover .barra {
	background: #999;
}

.grafico ol li .barra.selecionada {
    background: #0088cc;
}

/* dragdealer */

.dragdealer {
  position: relative;
  width: 970px;
  height: 30px;
  background: #eee;
  border-radius: 999px;
  margin: 18px 0;
}

.dragdealer .handle {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  cursor: pointer;
  border-radius: 999px;
}

.dragdealer .red-bar {
  width: 80px;
  height: 30px;
  background: #333;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.dragdealer .disabled {
  background: #999;
}
