@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

input[type="search"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none; }

input[type="search"]:focus {
  outline: none; }

i[data-icon="arrow-down"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M16.59 10L12 14.59 7.41 10 6 11.41l6 6 6-6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-down"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M16.59 10L12 14.59 7.41 10 6 11.41l6 6 6-6z'/%3E%3C/svg%3E"); }

.active > i[data-icon="arrow-down"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M16.59 10L12 14.59 7.41 10 6 11.41l6 6 6-6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-down"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M16.59 10L12 14.59 7.41 10 6 11.41l6 6 6-6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-left"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M14 16.59L9.41 12 14 7.41 12.58 6l-6 6 6 6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-left"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M14 16.59L9.41 12 14 7.41 12.58 6l-6 6 6 6z'/%3E%3C/svg%3E"); }

.active > i[data-icon="arrow-left"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M14 16.59L9.41 12 14 7.41 12.58 6l-6 6 6 6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-left"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M14 16.59L9.41 12 14 7.41 12.58 6l-6 6 6 6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-right"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M10 7.41L14.59 12 10 16.59 11.41 18l6-6-6-6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-right"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M10 7.41L14.59 12 10 16.59 11.41 18l6-6-6-6z'/%3E%3C/svg%3E"); }

.active > i[data-icon="arrow-right"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M10 7.41L14.59 12 10 16.59 11.41 18l6-6-6-6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-right"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M10 7.41L14.59 12 10 16.59 11.41 18l6-6-6-6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-up"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M7.41 14L12 9.41 16.59 14 18 12.59l-6-6-6 6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-up"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M7.41 14L12 9.41 16.59 14 18 12.59l-6-6-6 6z'/%3E%3C/svg%3E"); }

.active > i[data-icon="arrow-up"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M7.41 14L12 9.41 16.59 14 18 12.59l-6-6-6 6z'/%3E%3C/svg%3E"); }

i[data-icon="arrow-up"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M7.41 14L12 9.41 16.59 14 18 12.59l-6-6-6 6z'/%3E%3C/svg%3E"); }

i[data-icon="bubbles"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Ccircle cx='17' cy='17' r='3'/%3E%3Ccircle cx='14' cy='6' r='2'/%3E%3Ccircle cx='8' cy='13' r='4'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="bubbles"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Ccircle cx='17' cy='17' r='3'/%3E%3Ccircle cx='14' cy='6' r='2'/%3E%3Ccircle cx='8' cy='13' r='4'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="bubbles"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Ccircle cx='17' cy='17' r='3'/%3E%3Ccircle cx='14' cy='6' r='2'/%3E%3Ccircle cx='8' cy='13' r='4'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="bubbles"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Ccircle cx='17' cy='17' r='3'/%3E%3Ccircle cx='14' cy='6' r='2'/%3E%3Ccircle cx='8' cy='13' r='4'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="chart-column"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M6 12h2v8H6zM16 4h2v16h-2zM11 8h2v12h-2z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="chart-column"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M6 12h2v8H6zM16 4h2v16h-2zM11 8h2v12h-2z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="chart-column"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M6 12h2v8H6zM16 4h2v16h-2zM11 8h2v12h-2z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="chart-column"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M6 12h2v8H6zM16 4h2v16h-2zM11 8h2v12h-2z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="chart-line"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M14 7v2h2.59L13 12.59 10 9.6l-6 6 1.42 1.41L10 12.43l3 3 5-5V13h2V7z'/%3E%3C/svg%3E"); }

i[data-icon="chart-line"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M14 7v2h2.59L13 12.59 10 9.6l-6 6 1.42 1.41L10 12.43l3 3 5-5V13h2V7z'/%3E%3C/svg%3E"); }

.active > i[data-icon="chart-line"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M14 7v2h2.59L13 12.59 10 9.6l-6 6 1.42 1.41L10 12.43l3 3 5-5V13h2V7z'/%3E%3C/svg%3E"); }

i[data-icon="chart-line"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M14 7v2h2.59L13 12.59 10 9.6l-6 6 1.42 1.41L10 12.43l3 3 5-5V13h2V7z'/%3E%3C/svg%3E"); }

i[data-icon="code"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M17 8l-1.41 1.41L18.17 12l-2.58 2.59L17 16l4-4zM7 8l-4 4 4 4 1.41-1.41L5.83 12l2.58-2.59zM11.673 17.089L9.74 16.57l2.588-9.659 1.931.518z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="code"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M17 8l-1.41 1.41L18.17 12l-2.58 2.59L17 16l4-4zM7 8l-4 4 4 4 1.41-1.41L5.83 12l2.58-2.59zM11.673 17.089L9.74 16.57l2.588-9.659 1.932.518z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="code"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M17 8l-1.41 1.41L18.17 12l-2.58 2.59L17 16l4-4zM7 8l-4 4 4 4 1.41-1.41L5.83 12l2.58-2.59zM11.673 17.089L9.74 16.57l2.588-9.659 1.932.518z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="code"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M17 8l-1.41 1.41L18.17 12l-2.58 2.59L17 16l4-4zM7 8l-4 4 4 4 1.41-1.41L5.83 12l2.58-2.59zM11.673 17.089L9.74 16.57l2.588-9.659 1.931.518z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="contract"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M4 16h4v4h2v-6H4zM8 8H4v2h6V4H8zM16 8V4h-2v6h6V8zM14 20h2v-4h4v-2h-6z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="contract"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M4 16h4v4h2v-6H4zM8 8H4v2h6V4H8zM16 8V4h-2v6h6V8zM14 20h2v-4h4v-2h-6z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="contract"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M4 16h4v4h2v-6H4zM8 8H4v2h6V4H8zM16 8V4h-2v6h6V8zM14 20h2v-4h4v-2h-6z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="contract"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M4 16h4v4h2v-6H4zM8 8H4v2h6V4H8zM16 8V4h-2v6h6V8zM14 20h2v-4h4v-2h-6z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="document"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M14.41 4H6v16h12V7.59L14.41 4zM8 18V6h5v3h3v9H8z'/%3E%3C/svg%3E"); }

i[data-icon="document"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M14.41 4H6v16h12V7.59L14.41 4zM8 18V6h5v3h3v9H8z'/%3E%3C/svg%3E"); }

.active > i[data-icon="document"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M14.41 4H6v16h12V7.59L14.41 4zM8 18V6h5v3h3v9H8z'/%3E%3C/svg%3E"); }

i[data-icon="document"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M14.41 4H6v16h12V7.59L14.41 4zM8 18V6h5v3h3v9H8z'/%3E%3C/svg%3E"); }

i[data-icon="download"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M4 18h16v2H4zM17.99 9.99l-1.41-1.41L13 12.17V4h-2v8.17L7.41 8.58 6 9.99l5.99 6z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="download"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M4 18h16v2H4zM17.99 9.99l-1.41-1.41L13 12.17V4h-2v8.17L7.41 8.58 6 9.99l5.99 6z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="download"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M4 18h16v2H4zM17.99 9.99l-1.41-1.41L13 12.17V4h-2v8.17L7.41 8.58 6 9.99l5.99 6z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="download"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M4 18h16v2H4zM17.99 9.99l-1.41-1.41L13 12.17V4h-2v8.17L7.41 8.58 6 9.99l5.99 6z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="exclamation"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M11 6h2v8h-2z'/%3E%3Ccircle cx='12' cy='17' r='1.3'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="exclamation"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M11 6h2v8h-2z'/%3E%3Ccircle cx='12' cy='17' r='1.3'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="exclamation"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M11 6h2v8h-2z'/%3E%3Ccircle cx='12' cy='17' r='1.3'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="exclamation"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M11 6h2v8h-2z'/%3E%3Ccircle cx='12' cy='17' r='1.3'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="expand"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M6 14H4v6h6v-2H6zM4 10h2V6h4V4H4zM14 4v2h4v4h2V4zM18 18h-4v2h6v-6h-2z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="expand"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M6 14H4v6h6v-2H6zM4 10h2V6h4V4H4zM14 4v2h4v4h2V4zM18 18h-4v2h6v-6h-2z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="expand"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M6 14H4v6h6v-2H6zM4 10h2V6h4V4H4zM14 4v2h4v4h2V4zM18 18h-4v2h6v-6h-2z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="expand"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M6 14H4v6h6v-2H6zM4 10h2V6h4V4H4zM14 4v2h4v4h2V4zM18 18h-4v2h6v-6h-2z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="menu"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M4 11h16v2H4zM4 16h16v2H4zM4 6h16v2H4z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="menu"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M4 11h16v2H4zM4 16h16v2H4zM4 6h16v2H4z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="menu"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M4 11h16v2H4zM4 16h16v2H4zM4 6h16v2H4z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="menu"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M4 11h16v2H4zM4 16h16v2H4zM4 6h16v2H4z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="minus"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M6 11h12v2H6z'/%3E%3C/svg%3E"); }

i[data-icon="minus"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M6 11h12v2H6z'/%3E%3C/svg%3E"); }

.active > i[data-icon="minus"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M6 11h12v2H6z'/%3E%3C/svg%3E"); }

i[data-icon="minus"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M6 11h12v2H6z'/%3E%3C/svg%3E"); }

i[data-icon="pause"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M6 5h4v14H6zM14 5h4v14h-4z'/%3E%3C/svg%3E"); }

i[data-icon="pause"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M6 5h4v14H6zM14 5h4v14h-4z'/%3E%3C/svg%3E"); }

.active > i[data-icon="pause"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M6 5h4v14H6zM14 5h4v14h-4z'/%3E%3C/svg%3E"); }

i[data-icon="pause"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M6 5h4v14H6zM14 5h4v14h-4z'/%3E%3C/svg%3E"); }

i[data-icon="play"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M19 11.99l-13 7v-14z'/%3E%3C/svg%3E"); }

i[data-icon="play"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M19 11.99l-13 7v-14z'/%3E%3C/svg%3E"); }

.active > i[data-icon="play"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M19 11.99l-13 7v-14z'/%3E%3C/svg%3E"); }

i[data-icon="play"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M19 11.99l-13 7v-14z'/%3E%3C/svg%3E"); }

i[data-icon="plus"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M18 13h-5v5h-2v-5H6v-2h5V6h2v5h5v2z'/%3E%3C/svg%3E"); }

i[data-icon="plus"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M18 13h-5v5h-2v-5H6v-2h5V6h2v5h5v2z'/%3E%3C/svg%3E"); }

.active > i[data-icon="plus"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M18 13h-5v5h-2v-5H6v-2h5V6h2v5h5v2z'/%3E%3C/svg%3E"); }

i[data-icon="plus"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M18 13h-5v5h-2v-5H6v-2h5V6h2v5h5v2z'/%3E%3C/svg%3E"); }

i[data-icon="question"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Ccircle cx='12' cy='17' r='1.3'/%3E%3Cpath d='M12 5C9.8 5 8 7 8 9h2c0-1 .9-2 2-2s2 .9 2 2c0 .75-.39 1.11-1.14 1.73C12.08 11.39 11 12 11 14h2c0-1 .39-1.11 1.14-1.73C14.93 11.61 16 10.72 16 9c0-2.21-1.79-4-4-4z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="question"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Ccircle cx='12' cy='17' r='1.3'/%3E%3Cpath d='M12 5C9.8 5 8 7 8 9h2c0-1 .9-2 2-2s2 .9 2 2c0 .75-.39 1.11-1.14 1.73C12.08 11.39 11 12 11 14h2c0-1 .39-1.11 1.14-1.73C14.93 11.61 16 10.72 16 9c0-2.21-1.79-4-4-4z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="question"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Ccircle cx='12' cy='17' r='1.3'/%3E%3Cpath d='M12 5C9.8 5 8 7 8 9h2c0-1 .9-2 2-2s2 .9 2 2c0 .75-.39 1.11-1.14 1.73C12.08 11.39 11 12 11 14h2c0-1 .39-1.11 1.14-1.73C14.93 11.61 16 10.72 16 9c0-2.21-1.79-4-4-4z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="question"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Ccircle cx='12' cy='17' r='1.3'/%3E%3Cpath d='M12 5C9.8 5 8 7 8 9h2c0-1 .9-2 2-2s2 .9 2 2c0 .75-.39 1.11-1.14 1.73C12.08 11.39 11 12 11 14h2c0-1 .39-1.11 1.14-1.73C14.93 11.61 16 10.72 16 9c0-2.21-1.79-4-4-4z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="right"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M10 14.59L5.41 10 4 11.41l6 6 10-10L18.59 6z'/%3E%3C/svg%3E"); }

i[data-icon="right"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M10 14.59L5.41 10 4 11.41l6 6 10-10L18.59 6z'/%3E%3C/svg%3E"); }

.active > i[data-icon="right"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M10 14.59L5.41 10 4 11.41l6 6 10-10L18.59 6z'/%3E%3C/svg%3E"); }

i[data-icon="right"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M10 14.59L5.41 10 4 11.41l6 6 10-10L18.59 6z'/%3E%3C/svg%3E"); }

i[data-icon="search"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M14.89 13.47c.7-.98 1.11-2.18 1.11-3.47 0-3.31-2.69-6-6-6s-6 2.69-6 6 2.69 6 6 6c1.29 0 2.49-.41 3.47-1.11L18.59 20 20 18.59l-5.11-5.12zM10 14c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z'/%3E%3C/svg%3E"); }

i[data-icon="search"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M14.89 13.47c.7-.98 1.11-2.18 1.11-3.47 0-3.31-2.69-6-6-6s-6 2.69-6 6 2.69 6 6 6c1.29 0 2.49-.41 3.47-1.11L18.59 20 20 18.59l-5.11-5.12zM10 14c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z'/%3E%3C/svg%3E"); }

.active > i[data-icon="search"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M14.89 13.47c.7-.98 1.11-2.18 1.11-3.47 0-3.31-2.69-6-6-6s-6 2.69-6 6 2.69 6 6 6c1.29 0 2.49-.41 3.47-1.11L18.59 20 20 18.59l-5.11-5.12zM10 14c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z'/%3E%3C/svg%3E"); }

i[data-icon="search"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M14.89 13.47c.7-.98 1.11-2.18 1.11-3.47 0-3.31-2.69-6-6-6s-6 2.69-6 6 2.69 6 6 6c1.29 0 2.49-.41 3.47-1.11L18.59 20 20 18.59l-5.11-5.12zM10 14c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z'/%3E%3C/svg%3E"); }

i[data-icon="switch"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M18 7H9.83l1.58-1.58L10 4 6 8.01l4 4 1.41-1.42L9.83 9H18zM14 12.01l-1.41 1.41L14.17 15H6v2h8.17l-1.58 1.59L14 20l4-3.99z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="switch"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M18 7H9.83l1.58-1.58L10 4 6 8.01l4 4 1.41-1.42L9.83 9H18zM14 12.01l-1.41 1.41L14.17 15H6v2h8.17l-1.58 1.59L14 20l4-3.99z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="switch"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M18 7H9.83l1.58-1.58L10 4 6 8.01l4 4 1.41-1.42L9.83 9H18zM14 12.01l-1.41 1.41L14.17 15H6v2h8.17l-1.58 1.59L14 20l4-3.99z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="switch"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M18 7H9.83l1.58-1.58L10 4 6 8.01l4 4 1.41-1.42L9.83 9H18zM14 12.01l-1.41 1.41L14.17 15H6v2h8.17l-1.58 1.59L14 20l4-3.99z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="table"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M10 6h4v2h-4zM16 6h4v2h-4zM10 11h4v2h-4zM16 11h4v2h-4zM10 16h4v2h-4zM4 11h4v2H4zM4 16h4v2H4zM16 16h4v2h-4z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="table"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M10 6h4v2h-4zM16 6h4v2h-4zM10 11h4v2h-4zM16 11h4v2h-4zM10 16h4v2h-4zM4 11h4v2H4zM4 16h4v2H4zM16 16h4v2h-4z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="table"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M10 6h4v2h-4zM16 6h4v2h-4zM10 11h4v2h-4zM16 11h4v2h-4zM10 16h4v2h-4zM4 11h4v2H4zM4 16h4v2H4zM16 16h4v2h-4z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="table"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M10 6h4v2h-4zM16 6h4v2h-4zM10 11h4v2h-4zM16 11h4v2h-4zM10 16h4v2h-4zM4 11h4v2H4zM4 16h4v2H4zM16 16h4v2h-4z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="upload"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%234E5267'%3E%3Cpath d='M4 18h16v2H4zM11 7.83V16h2V7.83l3.58 3.58L17.99 10l-6-6-6 6 1.42 1.41z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="upload"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M4 18h16v2H4zM11 7.83V16h2V7.83l3.58 3.58L17.99 10l-6-6-6 6 1.42 1.41z'/%3E%3C/g%3E%3C/svg%3E"); }

.active > i[data-icon="upload"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M4 18h16v2H4zM11 7.83V16h2V7.83l3.58 3.58L17.99 10l-6-6-6 6 1.42 1.41z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="upload"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cg fill='%23A8ADBD'%3E%3Cpath d='M4 18h16v2H4zM11 7.83V16h2V7.83l3.58 3.58L17.99 10l-6-6-6 6 1.42 1.41z'/%3E%3C/g%3E%3C/svg%3E"); }

i[data-icon="wrong"][data-color="dark"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%234E5267' d='M18 7.41L16.59 6 12 10.59 7.41 6 6 7.41 10.59 12 6 16.59 7.41 18 12 13.41 16.59 18 18 16.59 13.41 12z'/%3E%3C/svg%3E"); }

i[data-icon="wrong"][data-color="light"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M18 7.41L16.59 6 12 10.59 7.41 6 6 7.41 10.59 12 6 16.59 7.41 18 12 13.41 16.59 18 18 16.59 13.41 12z'/%3E%3C/svg%3E"); }

.active > i[data-icon="wrong"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23FFF' d='M18 7.41L16.59 6 12 10.59 7.41 6 6 7.41 10.59 12 6 16.59 7.41 18 12 13.41 16.59 18 18 16.59 13.41 12z'/%3E%3C/svg%3E"); }

i[data-icon="wrong"][data-color="medium"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23A8ADBD' d='M18 7.41L16.59 6 12 10.59 7.41 6 6 7.41 10.59 12 6 16.59 7.41 18 12 13.41 16.59 18 18 16.59 13.41 12z'/%3E%3C/svg%3E"); }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background: #353844;
  color: #4e5267;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem; }

main {
  margin: 4.8rem auto;
  max-width: 124.8rem;
  max-height: 76.8rem;
  background: #cacdd8; }

i {
  font-style: normal; }

h1 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.4rem; }

p {
  padding: 1.2rem 1.6rem;
  font-size: 1.4rem; }

header + p {
  padding-top: 0; }

input[type="text"],
input[type="search"] {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0 1.2rem;
  background: transparent;
  box-shadow: 0;
  font-size: 1.6rem;
  font-family: inherit;
  color: #ffffff;
  outline: none; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #a8adbd; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a8adbd;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a8adbd;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a8adbd; }

button,
a[role="button"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 4.8rem;
  width: 100%;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: background .3s, color .3s; }
  button.small,
  a[role="button"].small {
    width: 2.4rem;
    height: 2.4rem; }
    button.small i[data-icon],
    a[role="button"].small i[data-icon] {
      width: 2.4rem;
      height: 2.4rem; }
  button.inline,
  a[role="button"].inline {
    height: 2.4rem;
    padding: 0 .8rem;
    border-radius: 1.2rem;
    justify-content: center;
    /* align-items: center; */
    background: #ecedf1;
    color: #a8adbd;
    font-size: 1.4rem;
    text-transform: lowercase; }
    button.inline:hover:not(.active),
    a[role="button"].inline:hover:not(.active) {
      background-color: #a8adbd;
      color: #ffffff; }
    button.inline.active,
    a[role="button"].inline.active {
      background-color: #569bfc;
      color: #ffffff; }
  button:hover:not(.active),
  a[role="button"]:hover:not(.active) {
    background-color: #ecedf1;
    /*color: $paper;*/ }
  button.active,
  a[role="button"].active {
    background-color: #569bfc;
    color: #ffffff; }
  button span,
  a[role="button"] span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
  button i + span,
  a[role="button"] i + span {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    padding: 0 1.2rem;
    font-size: 1.4rem; }
  button i[data-icon],
  a[role="button"] i[data-icon] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 4.8rem;
    height: 4.8rem; }
  button i[data-icon]:before,
  a[role="button"] i[data-icon]:before {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }

.sr-only, .visu .content .primary .cases.new .time {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); }
  .sr-only:active, .visu .content .primary .cases.new .time:active, .sr-only:focus, .visu .content .primary .cases.new .time:focus {
    position: static;
    margin: 0;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto; }

.initials {
  text-transform: uppercase !important;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .05rem; }

.visu {
  display: flex; }
  .visu .filters {
    position: relative;
    background: #4e5267;
    color: #a8adbd;
    max-width: 28.8rem;
    /*border-right: .1rem solid $neutral-5;*/ }
    .visu .filters ul, .visu .filters ol, .visu .filters li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column; }
    .visu .filters .input {
      background: #4e5267; }
      .visu .filters .input button {
        flex-shrink: 0;
        background: transparent !important; }
    .visu .filters [data-search="true"] .input {
      background: #676f89; }
    .visu .filters button:not(.active),
    .visu .filters a[role="button"]:not(.active) {
      background: #4e5267; }
    .visu .filters button:hover:not(.active),
    .visu .filters a[role="button"]:hover:not(.active) {
      background-color: #676f89;
      color: #ffffff; }
    .visu .filters .category, .visu .filters .location, .visu .filters .date {
      margin-bottom: 4.8rem; }
      .visu .filters .category ul, .visu .filters .category ol, .visu .filters .location ul, .visu .filters .location ol, .visu .filters .date ul, .visu .filters .date ol {
        flex-direction: row; }
    .visu .filters .category button {
      width: 14.4rem; }
    .visu .filters .location {
      position: relative; }
      .visu .filters .location ol {
        flex-wrap: wrap; }
        .visu .filters .location ol li:first-child button {
          width: 14.4rem; }
        .visu .filters .location ol::after {
          content: '';
          background: #353844;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          pointer-events: none;
          opacity: 0;
          transition: opacity .3s; }
      .visu .filters .location[data-search="false"] form {
        height: 4.8rem;
        top: 240px; }
      .visu .filters .location[data-search="true"] form {
        height: 28.8rem;
        top: 0; }
      .visu .filters .location[data-search="true"] .button-group ol::after {
        opacity: .75; }
      .visu .filters .location form {
        position: absolute;
        overflow: hidden;
        transition: top .3s, height .3s; }
        .visu .filters .location form input {
          width: 100%;
          height: 4.8rem; }
      .visu .filters .location .input {
        display: flex; }
      .visu .filters .location .results {
        height: 24rem;
        background: #353844;
        font-size: 1.4rem; }
        .visu .filters .location .results .hint {
          width: 100%;
          height: 4.8rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0 1.6rem;
          display: none; }
        .visu .filters .location .results ol {
          display: flex; }
        .visu .filters .location .results li {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          align-items: center;
          padding: 1.2rem 1.6rem;
          width: 100%;
          height: 4.8rem; }
        .visu .filters .location .results li .location {
          margin: 0; }
    .visu .filters .date {
      margin-top: 4.8rem;
      width: 100%; }
      .visu .filters .date header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 4.8rem; }
        .visu .filters .date header h2 {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          width: 100%; }
        .visu .filters .date header time {
          padding: 0 1.6rem;
          color: #ffffff; }
          .visu .filters .date header time[datetime*="W"] {
            font-size: 1.4rem;
            color: #a8adbd; }
      .visu .filters .date button {
        width: 100%; }
      .visu .filters .date .slider {
        background: lightblue;
        height: 4.8rem;
        width: 100%;
        padding: 1.6rem; }
    .visu .filters .autoplay {
      width: 100%;
      margin-top: 4.8rem; }
      .visu .filters .autoplay button {
        width: 100%; }
    .visu .filters > header {
      display: flex;
      align-items: flex-end;
      height: 9.6rem; }
      .visu .filters > header h1 {
        padding: 1.2rem 1.6rem;
        margin-bottom: 2.4rem; }
    .visu .filters button {
      width: 4.8rem; }
  .visu .content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 96rem;
    height: 76.8rem;
    /*overflow-y: scroll;*/
    /*-webkit-overflow-scrolling: touch;*/ }
    .visu .content .primary {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-shrink: 0;
      height: 76.8rem; }
      .visu .content .primary .description {
        display: flex;
        align-items: flex-end;
        width: 48rem;
        height: 9.6rem;
        background: #ffffff; }
      .visu .content .primary .totals {
        height: 14.4rem; }
        .visu .content .primary .totals i + span {
          font-size: 1.6rem; }
        .visu .content .primary .totals output {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 9.6rem;
          height: 4.8rem;
          padding: 0 1.6rem;
          font-size: 1.8rem; }
      .visu .content .primary .cases {
        background: #ffffff; }
        .visu .content .primary .cases header {
          height: 4.8rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 0 1.6rem; }
          .visu .content .primary .cases header ul {
            display: flex; }
          .visu .content .primary .cases header li {
            display: flex;
            margin-left: .8rem; }
        .visu .content .primary .cases .amount li {
          display: flex;
          height: 4.8rem;
          width: 100%; }
          .visu .content .primary .cases .amount li span {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: .4rem;
            width: 4.8rem;
            height: 4.8rem;
            font-size: 1.2rem;
            color: #a8adbd; }
        .visu .content .primary .cases .time {
          height: 4.8rem; }
          .visu .content .primary .cases .time ol {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 4.8rem; }
            .visu .content .primary .cases .time ol li {
              font-size: 1.2rem;
              color: #a8adbd;
              text-transform: lowercase; }
        .visu .content .primary .cases.new {
          height: 24rem; }
        .visu .content .primary .cases.cumulative {
          height: 28.8rem; }
      .visu .content .primary .map {
        position: relative;
        width: 48rem;
        height: 48rem; }
        .visu .content .primary .map header {
          position: absolute;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          right: 0;
          bottom: 0;
          margin: 1.6rem;
          width: 2.4rem;
          height: 4.8rem; }
        .visu .content .primary .map .graphic {
          height: 48rem;
          background: #ecedf1; }
      .visu .content .primary .ranking {
        height: 28.8rem;
        background: #ffffff;
        font-size: 1.4rem; }
        .visu .content .primary .ranking li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 4.8rem; }
        .visu .content .primary .ranking .position {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4.8rem;
          height: 4.8rem; }
          .visu .content .primary .ranking .position::after {
            content: 'º'; }
        .visu .content .primary .ranking .totals {
          display: flex;
          height: 4.8rem;
          width: 24rem; }
          .visu .content .primary .ranking .totals output {
            font-size: 1.4rem; }
        .visu .content .primary .ranking .location {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex: 1 0;
          padding: 0 1.2rem;
          width: 100%;
          height: 4.8rem; }
        .visu .content .primary .ranking figcaption {
          display: flex; }
        .visu .content .primary .ranking .amount {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 50%; }
          .visu .content .primary .ranking .amount p {
            padding: 0 0 0 1.6rem; }
          .visu .content .primary .ranking .amount output {
            font-weight: 600; }
        .visu .content .primary .ranking .caption {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 50%; }
          .visu .content .primary .ranking .caption li {
            display: flex;
            justify-content: flex-end;
            width: 100%; }
          .visu .content .primary .ranking .caption button {
            justify-content: flex-end;
            width: 4.8rem;
            background: transparent; }
    .visu .content .secondary {
      display: inline-block;
      height: 76.8rem;
      width: 100%;
      background: #cacdd8; }
      .visu .content .secondary .related {
        margin: 4.8rem 0; }
        .visu .content .secondary .related ul {
          display: flex;
          width: 100%;
          flex-grow: 1; }
          .visu .content .secondary .related ul li {
            display: flex;
            width: 100%; }
            .visu .content .secondary .related ul li a {
              width: 100%; }
      .visu .content .secondary .method ul {
        display: flex;
        flex-direction: row; }
        .visu .content .secondary .method ul li {
          display: flex;
          width: 100%;
          height: 48rem;
          background: #ffffff; }
      .visu .content .secondary .method article:before {
        content: '';
        display: flex;
        margin-bottom: 1.6rem;
        width: 100%;
        height: 14.4rem;
        background: #ecedf1; }
      .visu .content .secondary .method article header {
        padding: 1.2rem 1.6rem; }
      .visu .content .secondary footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14.4rem; }
        .visu .content .secondary footer p {
          width: 480px;
          text-align: center; }

/* dividers */
.visu .content .primary .description::after,
.visu .content .primary > .totals::after,
.visu .content .primary .cases .core::after,
.visu .content .primary .cases .scale.time::after,
.visu .content .primary .map::after,
.visu .content .primary .ranking .table::after,
.visu .content .primary .ranking figcaption::after,
.visu .content .secondary .related li::after,
.visu .content .secondary .method ul li::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 0.1rem #cacdd8;
  pointer-events: none; }

.visu .content .primary .description,
.visu .content .primary > .totals,
.visu .content .primary .cases .core,
.visu .content .primary .cases .scale.time,
.visu .content .primary .map,
.visu .content .primary .ranking .table,
.visu .content .primary .ranking figcaption,
.visu .content .secondary .related li,
.visu .content .secondary .method ul li {
  position: relative; }

.visu .filters::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 0.1rem solid #cacdd8;
  pointer-events: none; }

/*# sourceMappingURL=visu.css.map */
