*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #37474F;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

i {
	font-style: normal;
}