@import '_variables';
@import '_functions';

/* perfect-scrollbar v0.6.15 */

.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important;
  }
}

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  right: 0;
  padding: 4px 0;
  width: 16px;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
}

.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: transparent;
}

.ps-container.ps-active-y:hover > .ps-scrollbar-y-rail,
.ps-container.ps-active-y.ps-in-scrolling > .ps-scrollbar-y-rail {
  opacity: 1;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  right: 0px;
  border-radius: 0;
  padding: 4px;
  width: 16px;
  transition: height .2s linear, width .2s ease-in-out;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 100%;  
  background-color: rgba( $neutral-1, .25 );
  border-radius: 999px;
  transition: background-color .2s linear,;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y::after {
  background-color: $neutral-1;
}