$paper     : #ffffff;
$highlight : #569bfc;
$alert     : #ffb400;
$neutral-0 : #353844;
$neutral-1 : #4e5267;
$neutral-2 : #676f89;
$neutral-3 : #868da4;
$neutral-4 : #a8adbd;
$neutral-5 : #cacdd8;
$neutral-6 : #ecedf1;

$block: 4.8rem;

@function blocks( $times ) {
  @return $block * $times
}

@import 'reset';
@import 'icons';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: transparent;
}

body {
	background: $neutral-0;
	color: $neutral-1;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

main {
	margin: 0 auto;
	max-width: 124.8rem;
	max-height: 76.8rem;
	background: $neutral-5;
}

i {
	font-style: normal;
}

h1 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.4rem;
}

button {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: blocks( 1 );
    background-color: #f0f0f0;
    box-shadow: 0 0 1px black;

    i + span {
    	flex-direction: row;
	    width: 100%;
	    text-align: left;
	    padding: 0 1.2rem;
	}
}

.filters {

	background: $neutral-1;
	color: $neutral-4;
	max-width: blocks( 6 );

	ul, ol, li {
	    display: flex;
	    justify-content: flex-start;
	    align-items: flex-start;
	    flex-direction: column;
	}

	.category, .location, .time {
		margin-bottom: blocks( 1 );
		ul, ol {
			flex-direction: row;
		}
	}

	.category {
		button {
			width: blocks( 3 );
		}
	}

	.location {
		ol {
			flex-wrap: wrap;
			li {
				&:first-child {
					button {
						width: blocks( 3 );
					}
				}
			}
		}
		form {
			width: 100%;
			input {
				width: 100%;
				height: blocks( 1 );
			}
		}
	}

	.time {
		width: 100%;
		header {
			width: 100%;
			height: blocks( 1 );
			h2 {
				display: flex;
			    justify-content: space-between;
			    flex-direction: row;
			}
		}
		button {
			width: 100%;
		}
	}

	.autoplay {
		width: 100%;
		button {
			width: 100%;
		}
	}
}	

.filters > header {
	height: blocks( 2 );
}

.filters button {
	width: blocks( 1 );
}

input {
	margin: 0;
	border: 0;
	padding: 0;
	color: red;
	background: red;
    border-radius: 0;
    -webkit-box-shadow: 0; 
    -moz-box-shadow: 0; 
    box-shadow: 0; 
    background: rgba(255,255,255,0.5);
}

i[data-icon] {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: blocks( 1 );
	height: blocks( 1 );
	background: lightblue;
}

i[data-icon]:before {
	content: '';
    width: 2.4rem;
    height: 2.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: rgba(255,0,0,.5);
}

i[data-icon="arrow-down-light"]:before { background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="#FFF" d="M16.59 10L12 14.59 7.41 10 6 11.41l6 6 6-6z"/></svg>') }
i[data-icon="arrow-down-dark"]:before { background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="#4E5267" d="M16.59 10L12 14.59 7.41 10 6 11.41l6 6 6-6z"/></svg>') }
i[data-icon="arrow-left-light"]:before { background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="#FFF" d="M14 16.59L9.41 12 14 7.41 12.58 6l-6 6 6 6z"/></svg>') }
i[data-icon="arrow-left-dark"]:before { background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="#4E5267" d="M14 16.59L9.41 12 14 7.41 12.58 6l-6 6 6 6z"/></svg>') }
