@import '_variables.scss';
@import '_reset';
@import '_icons';

@function blocks( $times ) {
  @return $block * $times
}

html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $neutral-0;
	color: $neutral-1;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

main {
	margin: blocks( 1 ) auto;
	max-width: 124.8rem;
	max-height: 76.8rem;
	background: $neutral-5;
}

i {
	font-style: normal;
}

h1 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.4rem;
}

p {
    padding: 1.2rem 1.6rem;
    font-size: 1.4rem;
}

header + p {
	padding-top: 0;
}

input[type="text"],
input[type="search"], {
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 0 1.2rem;
	background: transparent;
    box-shadow: 0;
    font-size: 1.6rem; 
    font-family: inherit;
    color: $paper;
    outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $neutral-4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $neutral-4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $neutral-4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $neutral-4;
}

button,
a[role="button"] {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: blocks( 1 );
    width: 100%;
    background-color: $paper;
    cursor: pointer;
  	outline: none;
    transition: background .3s, color .3s;

    &.small {
    	width: blocks( .5 );
    	height: blocks( .5 );

    	i[data-icon] {
	    	width: blocks( .5 );
	    	height: blocks( .5 );
		}
    }

	&.inline {
	    height: 2.4rem;
	    padding: 0 .8rem;
	    border-radius: 1.2rem;
	    justify-content: center;
	    /* align-items: center; */
	    background: $neutral-6;
	    color: $neutral-4;
	    font-size: 1.4rem;
	    text-transform: lowercase;

    	&:hover:not(.active) {
	    	background-color: $neutral-4;
	    	color: $paper;
	    }

	    &.active {
	    	background-color: $highlight;
	    	color: $paper;
	    }
	}

	&:hover:not(.active) {
    	background-color: $neutral-6;
    	/*color: $paper;*/
    }

    &.active {
    	background-color: $highlight;
    	color: $paper;
    }

    span {
	    display: flex;
	    width: 100%;
	    justify-content: center;
	    align-items: center;
	}

    i + span {
    	flex-direction: row;
    	justify-content: flex-start;
	    width: 100%;
	    text-align: left;
	    padding: 0 1.2rem;
	    font-size: 1.4rem
	}

	i[data-icon] {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: blocks( 1 );
		height: blocks( 1 );
	}

	i[data-icon]:before {
		content: '';
	    width: 2.4rem;
	    height: 2.4rem;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: 100%;
	}
}

.sr-only {
	position: absolute;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);

	&:active, &:focus {
		position: static;
		margin: 0;
		width: auto;
		height: auto;
		overflow: visible;
		clip: auto;
	}
}

.initials {
    text-transform: uppercase !important;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .05rem;
}

.visu {
    display: flex;

    .filters {
    	position: relative;
		background: $neutral-1;
		color: $neutral-4;
		max-width: blocks( 6 );
		/*border-right: .1rem solid $neutral-5;*/

		ul, ol, li {
		    display: flex;
		    justify-content: flex-start;
		    align-items: flex-start;
		    flex-direction: column;
		}

		.input {
			background: $neutral-1;

			button {
				flex-shrink: 0;
				background: transparent !important;
			}
		}

		[data-search="true"] {
			.input {
				background: $neutral-2;
			}
		}

		button,
		a[role="button"] {

			&:not(.active) {
				background: $neutral-1;
			}

			&:hover:not(.active) {
		    	background-color: $neutral-2;
		    	color: $paper;
		    }
		}

		.category, .location, .date {
			margin-bottom: blocks( 1 );

			ul, ol {
				flex-direction: row;
			}
		}

		.category {

			button {
				width: blocks( 3 );
			}
		}

		.location {
		    position: relative;

			ol {
				flex-wrap: wrap;

				li {

					&:first-child {

						button {
							width: blocks( 3 );
						}
					}
				}

				 &::after {
				    content: '';
				    background: $neutral-0;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    position: absolute;
				    pointer-events: none;
				    opacity: 0;
				    transition: opacity .3s;
				}
			}

			&[data-search="false"] {
				form {
				    height: 4.8rem;
				    top: 240px;
				}
			}

			&[data-search="true"] {
				form {
				    height: 28.8rem;
				    top: 0;
				}
				.button-group ol::after {
					opacity: .75;
				}
			}

			form {
				position: absolute;	
				overflow: hidden;
				transition: top .3s, height .3s;

				input {
					width: 100%;
					height: blocks( 1 );
				}
			}

			.input {
			    display: flex;
			}

			.results {
			    height: 24rem;
			    background: $neutral-0;
			    font-size: 1.4rem;

 				.hint {
				    width: 100%;
				    height: 4.8rem;
				    display: flex;
				    justify-content: flex-start;
				    align-items: center;
				    padding: 0 1.6rem;
				    display: none;
				}

				 ol {
				    display: flex;
				}

				li {
				    display: flex;
				    justify-content: flex-start;
				    flex-direction: row;
				    align-items: center;
				    padding: 1.2rem 1.6rem;
				    width: 100%;
				    height: 4.8rem;
				}
				li .location {
				    margin: 0;
				}
			}
		}

		.date {
		    margin-top: 4.8rem;
			width: 100%;

			header {
			    display: flex;
			    justify-content: space-between;
			    align-items: center;
			    flex-direction: row;
				width: 100%;
				height: blocks( 1 );

				h2 {
					display: flex;
				    justify-content: space-between;
				    flex-direction: row;
			        width: 100%;
				}

				time {
					padding: 0 1.6rem;
					color: $paper;

					&[datetime*="W"] {
						font-size: 1.4rem;
						color: $neutral-4;
					}
				}

			}
			button {
				width: 100%;
			}
			.slider {
				height: blocks( 1 );
				width: 100%;
				padding: 2.2rem 1.6rem;
			}

		}

		.autoplay {
			width: 100%;
			margin-top: blocks( 1 );

			button {
				width: 100%;
			}
		}

		> header {
			display: flex;
    		align-items: flex-end;
			height: blocks( 2 );

			h1 {
		    	padding: 1.2rem 1.6rem;
		    	margin-bottom: 2.4rem;
			}
		}

		button {
			width: blocks( 1 );
		}
	}

	.content {
	    display: flex;
	    flex-direction: column;
	    flex-shrink: 0;
	    width: blocks( 20 );
	    height: blocks( 16 );
	    /*overflow-y: scroll;*/
		/*-webkit-overflow-scrolling: touch;*/

	    .primary {
	    	display: flex;
	    	flex-direction: column;
	    	flex-wrap: wrap;
	    	flex-shrink: 0;
	    	height: blocks( 16 );

			.description { 
			    display: flex;
				align-items: flex-end;
				width: blocks( 10 );
				height: blocks( 2 );
				background: $paper;

				p {

				}
			}

			.totals {
				height: blocks( 3 );

				i + span {
				    font-size: 1.6rem
				}

				output {
					display: flex;
				    justify-content: flex-end;
				    align-items: center;
				    width: blocks( 2 );
				    height: blocks( 1 );
				    padding: 0 1.6rem;
				    font-size: 1.8rem;
				}

			}

			.cases {
				background: $paper;

				header {
					height: blocks( 1 );
				    display: flex;
				    flex-direction: row;
				    justify-content: flex-start;
				    align-items: center;
				    padding: 0 1.6rem;

					ul {
						display: flex;
					}
					
					li {
					    display: flex;
					    margin-left: .8rem;
					}
				}

				.amount {

					li {
						display: flex;
						height: blocks( 1 );
						width: 100%;

						span {
							display: flex;
						    justify-content: center;
						    align-items: flex-start;
						    padding: .4rem;
						    width: blocks( 1 );
							height: blocks( 1 );
						    font-size: 1.2rem;
						    color: $neutral-4;
						}
					}

				}

				.time {
					height: blocks( 1 );

					ol {
					    display: flex;
					    justify-content: space-between;
					    align-items: center;
					    height: 100%;
					    padding: 0 blocks( 1 );

					    li {
					    	font-size: 1.2rem;
					    	color: $neutral-4;
					    	text-transform: lowercase;
					    }
					}
				}

				&.new {
					height: blocks( 5 );

					.time {
						@extend .sr-only;
					}
				}

				&.cumulative {
					height: blocks( 6 );
				}
			}

			.map {
				position: relative;
				width: blocks( 10 );
				height: blocks( 10 );

				header {
					position: absolute;
				    display: flex;
				    justify-content: flex-end;
				    align-items: flex-end;
				    right: 0;
				    bottom: 0;
				    margin: 1.6rem;
			        width: 2.4rem;
				    height: 4.8rem;
				}

				.graphic {
				    height: blocks( 10 );
				    background: $neutral-6;
				}
			}

			.ranking {
				height: blocks( 6 );
				background: $paper;
			    font-size: 1.4rem;

				li {
					display: flex;
				    justify-content: space-between;
				    align-items: center;
				    height: blocks( 1 );
				}

				.position {
					display: flex;
					justify-content: center;
					align-items: center;
					width: blocks( 1 );
					height: blocks( 1 );

					&::after {
						content: 'º';
					}
				}

				.totals {
					display: flex;
					height: blocks( 1 );
				    width: blocks( 5 );

	   				output {
	   					font-size: 1.4rem;
					}
				}

				.location {
				    display: flex;
				    justify-content: flex-start;
				    align-items: center;
				    flex: 1 0;
				    padding: 0 1.2rem;
				    width: 100%;
				    height: 4.8rem;
				}

				figcaption {
					display: flex;
				}

				.amount {
					display: flex;
				    justify-content: flex-start;
				    align-items: center;
				    width: 50%;
				    
				    p { 
				     	padding: 0 0 0 1.6rem;
				    }

				    output {
					    font-weight: 600;
					}
				}

				.caption {
				    display: flex;
				    justify-content: flex-start;
				    align-items: center;
				    width: 50%;

					li {
						display: flex;
						justify-content: flex-end;
					    width: 100%;
					}

					button {
					    justify-content: flex-end;
					    width: blocks( 1 );
					    background: transparent;
					}
				}
			}
		}

		.secondary {
			display: inline-block;
	    	height: blocks( 16 );
	    	width: 100%;
	    	background: $neutral-5;

	    	.related {
	    		margin: blocks( 1 ) 0;

	    		ul {
				    display: flex;
				    width: 100%;
				    flex-grow: 1;

				    li {
					    display: flex;
					    width: 100%;

					     a {
						    width: 100%;
						}
					}
				}
	    	}

	    	.method {

				ul {
				    display: flex;
				    flex-direction: row;

				    li {
				    	display: flex;
					    width: 100%;
					    height: blocks( 10 );
					    background: $paper;
					}
				}

				article {

					&:before {
					    content: '';
					    display: flex;
					    margin-bottom: 1.6rem;
					    width: 100%;
					    height: blocks( 3 );
					    background: $neutral-6;
					}

					header {
					    padding: 1.2rem 1.6rem;
					}
				}
	    	}

	    	footer {
	    		display: flex;
	    		justify-content: center;
	    		align-items: center;
	    		height: blocks( 3 );

	    		p {
		    		width: 480px;
	    			text-align: center;
    			}
	    	}
		}
	}
}

@import '_dividers';
@import '_slider';