$paper     : #ffffff;
$highlight : #569bfc;
$alert     : #ffb400;
$neutral-0 : #353844;
$neutral-1 : #4e5267;
$neutral-2 : #676f89;
$neutral-3 : #868da4;
$neutral-4 : #a8adbd;
$neutral-5 : #cacdd8;
$neutral-6 : #ecedf1;

$block: 4.8rem;

@function blocks( $times ) {
  @return $block * $times
}

@import 'reset';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: transparent;
}

body {
	background: $neutral-0;
	color: $neutral-1;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

main {
	margin: 0 auto;
	max-width: 124.8rem;
	max-height: 76.8rem;
	background: $neutral-5;
}

i {
	font-style: normal;
}

h1 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.4rem;
}

button {
    background-color: #f0f0f0;
    height: blocks( 1 );
    box-shadow: 0 0 1px black;
    /*border: 1px solid rgb(0, 0, 0);*/
    /*border-radius: 0.25em;*/
    /*height: 2.5em;*/
    /*line-height: 2.5;*/
    /*margin: 0.25em;*/
    /*padding: 0 1em;*/
    /*width: 14em;*/
}

.filters {

	background: $neutral-1;
	color: $neutral-4;
	max-width: blocks( 6 );

	ul, ol, li {
	    display: flex;
	    justify-content: flex-start;
	    align-items: flex-start;
	    flex-direction: column;
	}

	.category, .location, .time {
		margin-bottom: blocks( 1 );
		ul, ol {
			flex-direction: row;
		}
	}

	.category {
		button {
			width: blocks( 3 );
		}
	}

	.location {
		ol {
			flex-wrap: wrap;
			li {
				&:first-child {
					button {
						width: blocks( 3 );
					}
				}
			}
		}
	}

	.time {
		width: 100%;
		header {
			width: 100%;
			h2 {
				display: flex;
			    justify-content: space-between;
			    flex-direction: row;
			}
		}
		button {
			width: 100%;
		}
	}
}	

.filters > header {
	height: blocks( 2 );
}

.filters button {
	width: blocks( 1 );
}